


tornado==6.3.3
tqdm==4.66.1
traitlets==5.7.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==3.0.1
wheel==0.41.2
widgetsnbextension==4.0.5
win-inet-pton==1.1.0
wrapt==1.16.0
zict==3.0.0
zipp==3.18.1
